body {
    margin: 20px auto;
    max-width: 700px;
    width: 50%;
    border: 20px solid gray;
}

h3 {
    
    margin-left: 4%;
    margin-top: 3%;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
}

h1 {
    ;
    margin-left: 4%;
}

p {
    margin-left: 4%;
    margin-bottom: 4%;
}

div p:nth-of-type(1) {
border-left: 4px solid gray;
padding-left: 1%;
}

div p:last-of-type {
    padding-bottom: 3%;

}

